
@media only screen and (min-width : 1000px) {
.main-heading {
  font-family: 'Zeyada', cursive;
  font-size: 25pt;
}

.active {
  background-image: url('image/arrow1.png');
  background-repeat: no-repeat;
  background-size: contain;
  left: -13px;
}

nav.site-navigation-bar {
  width: 12%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0;
  font-family: 'Cutive Mono', monospace;
}

nav.site-navigation-bar li{
  padding-left: 0x;
  margin-top: 40px;
  width: 100%;
  list-style: none;
  text-align: right;
}

nav.site-navigation-bar ul{
  margin-top: 115px;

}

nav.site-navigation-bar a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}

nav.site-navigation-bar a:hover {
  color:#B9B9B9;
}

.wrapper1 {
  padding-left: 200px;
  width: 82%;
  font-family: 'Cutive Mono', monospace;
  /*position: relative;*/
}


#title {
  text-decoration: underline;
}

#GeorgiaMills {
  width: 100%;
  position: relative;
}

img#photo1{
  width: 45%;
  height: auto;
}
#sec1-photo {
  position: absolute;
  width: 100%;
  height: auto;
}

#sec1-text {
  width: 450px;
  position: absolute;
  left: 48%;
  right: 0;

}

#Skills {
  width: 100%;
  position: relative;
  margin-top: 250px;
  height: 60vh !important;
}

#sec2-text {
  position: absolute;
  max-width: 100%;
  height: auto;
  left: 10%;
  z-index: 19;
}

#sec2-line {
  position: absolute;
  left: 30%;
  top: 20%;
  max-width: 100%;
  height: auto;
  z-index: 20;
}

#sec2-photo {
  position: absolute;
  width: 55%;
  left: 40%;
  top: 25%;
  z-index: 18;
}

#sec3 {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

img#photo3 {
  width: 45%;
  height: auto;
}

#sec3-photo {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 31;
}

#sec3-text {
  position: absolute;
  width: 440px;
  left: 47%;
  right: 0;
  z-index: 32;

}

#GracePrince {
  position: absolute;
  left: 30%;
  z-index: 33;
  font-size: 30pt !important;
  top: -77px;
}


#grace-sec {
  display: none;
}
#grace-web1 {
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 70px;
}
#grace-web2 {
  margin-bottom: 50px;
}
#grace-web2{
  margin-right: 30px;
}


#sec4 {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

#Flare {
  position: absolute;
  left: 40%;
  z-index: 43;
  font-size: 30pt !important;
  top: -77px;
}

img#photo4 {
  width: 80%;
  height: auto;
}

#sec4-text {
  position: absolute;
  right: 55%;
  width: 450px;
  height: auto;
  text-align: right;
  /*z-index: 42;*/
}

#sec4-photo {
  position: absolute;
  width: 50%;
  left: 47%;
  right: 0;
  /*z-index: 41;*/
}

#sec5 {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

#JojaLondon {
  position: absolute;
  left: 30%;
  z-index: 53;
  font-size: 30pt !important;
  top: -77px;
}

img#photo5 {
  width: 43%;
  height: auto;
}
#sec5-photo {
  position: absolute;
  width: 100%;
  height: auto;
}

#sec5-text {
  position: absolute;
  width: 450px;
  left: 47%;
  right: 0;
}

#joja-sec {
  display: none;
}

#sec6 {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

#Bloom {
  position: absolute;
  left: 40%;
  z-index: 63;
  font-size: 30pt !important;
  top: -77px;
}

img#photo6 {
  width: 85%;
  height: auto;
}
#sec6-text {
  position: absolute;
  right: 55%;
  width: 450px;
  height: auto;
  text-align: right;
}

#sec6-photo {
  position: absolute;
  width: 50%;
  height: auto;
  left: 47%;
  right: 0;
}

#bow-tie1 {
  margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 70px;
}
#bow-tie2 {
  margin-bottom: 50px;
}
#bow-tie2{
  margin-right: 30px;
}

#Contact {
  width: 100%;
  position: relative;
  margin-top: 100px;
}

#bowtie {
  position: absolute;
  left: 50%;
}
#contact-email{
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: 'Zeyada', cursive !important;
  font-size: 40pt;
}
#socialmedia{
  position: absolute;
  left: 13%;
  top: 25%;
  max-height: 50%;
}

.wrapper1 div{
  height:100vh;
}
}

@media only screen and (max-width : 1000px) and (min-width : 668px) {
  .wrapper1 {
    padding-left: 0;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 20pt;
  }

  .main-heading {
    font-family: 'Zeyada', cursive;
    font-size: 30pt;
  }

  img#photo1 {
    width: 70%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div#sec1-text {
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  nav.site-navigation-bar {
    height: 100vh;
    font-family: 'Zeyada', cursive;
    font-size: 30pt;
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
  }
  nav.site-navigation-bar li{
    width: 100%;
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  nav.site-navigation-bar a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
  }

  nav.site-navigation-bar a:hover {
    color:#B9B9B9;
  }

  #sec2-text {
    margin-top: 100px;
    margin-bottom: 100px;
  }

 #sec2-line {
   display: none;
 }
 #sec3-heading, #sec4-heading, #sec5-heading, #sec6-heading {
   font-size: 30pt;
 }

 #sec2, #sec3, #sec4, #sec5, #sec6{
   margin-top: 250px;
 }


 #photo3, #photo4, #photo5, #photo6 {
   display: block;
   width: 80%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
 }

 #sec3-text, #sec4-text, #sec5-text, #sec6-text {
   display: block;
   width: 80%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
 }

 #joja-sec, #grace-sec {
   display: none;
 }

 #GracePrince, #Flare, #JojaLondon, #Bloom {
   font-size: 40px !important;
 }

 #Contact {
   margin-top: 250px;
   font-family: 'Zeyada', cursive;
   font-size: 30pt;
 }

}

@media only screen and (max-width : 668px) {
  .wrapper1 {
    padding-left: 0;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    font-size: 10pt;
  }

  .main-heading {
    font-family: 'Zeyada', cursive;
    font-size: 30pt;
  }

  img#photo1 {
    width: 70%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div#sec1-text {
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
  nav.site-navigation-bar {
    height: 100vh;
    font-family: 'Zeyada', cursive;
    font-size: 50pt;
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
  }
  nav.site-navigation-bar li{
    width: 100%;
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  nav.site-navigation-bar a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
  }

  nav.site-navigation-bar a:hover {
    color:#B9B9B9;
  }

  #sec2-text {
    margin-top: 100px;
    margin-bottom: 100px;
  }

   #sec2-line {
     display: none;
   }
   #sec3-heading, #sec4-heading, #sec5-heading, #sec6-heading {
     font-size: 30pt;
   }

   #sec2, #sec3, #sec4, #sec5, #sec6 {
     margin-top: 250px;
   }


   #photo3, #photo4, #photo5, #photo6 {
     display: block;
     width: 80%;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
   }

   #sec3-text, #sec4-text, #sec5-text, #sec6-text {
     display: block;
     width: 80%;
     height: auto;
     margin-left: auto;
     margin-right: auto;
   }

   #joja-sec, #grace-sec {
     display: none;
   }

   #GracePrince, #Flare, #JojaLondon, #Bloom {
     font-size: 40px !important;
   }

   #Contact {
     margin-top: 250px;
     font-family: 'Zeyada', cursive;
     font-size: 30pt;
 }
}
